*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Montserrat', sans-serif;
  background: rgb(228,228,228);
}
.a{
  background-image: url('currency.jpg');
  height: 100vh;
}
.c{
  text-align: center;
  margin: 0px 0px 15px 0px;
  background: #00848c;
  color: black;

}
.c h1{
  font-size:
}
.c p{
  margin-top: 8px;
  font-size: 14px;
}
.b{
  display: flex;
  flex-direction: column;
  margin: 15px 0px;
  width: 90%;
  margin: 0 auto;
}
#taka, #euro, #dollar, #indianRs, #lankaRs{
  margin: 0 auto;
  margin-top: 40px;
  border: none;
  padding: 20px 20px;
  font-family:  'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 15px;
  width: 400px;
  box-shadow: 0px 1px 5px rgb(97,97,97);

}
#taka{
  background: #076DF6;
}
#euro{
  background: #76F607;
}
#dollar{
  background: #F67A07;
}
#indianRs{
  background: #562D6C;
}
#lankaRs{
  background: #BB289B;
}
